html {
  font-size: 62.5%; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

div.container {
  width: 100%;
  height: 114rem;
  display: flex; }
  div.container .container__left {
    width: 26.8rem;
    height: 114rem;
    background-color: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.13); }
    div.container .container__left .container__left--top {
      display: flex;
      width: 23.6rem;
      height: 11rem;
      margin-top: 1.2rem;
      margin-left: 1.2rem;
      margin-right: 2.9rem;
      flex-direction: column; }
      div.container .container__left .container__left--top button {
        width: 23.6rem;
        height: 3.6rem;
        border: 0;
        margin-bottom: 0.7rem;
        border-radius: 0.4rem;
        padding: 1.5rem; }
        div.container .container__left .container__left--top button div.container-left__img {
          width: 7.4rem;
          display: flex;
          justify-content: space-between;
          align-items: center; }
        div.container .container__left .container__left--top button div.container-left_name {
          width: 16.2rem;
          display: flex;
          justify-content: space-between; }
        div.container .container__left .container__left--top button.btn {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-family: Montserrat-Regular;
          font-size: 1.5rem; }
        div.container .container__left .container__left--top button.container-left__btn--gray {
          background-color: #ececec; }
        div.container .container__left .container__left--top button.container-left__btn--blue {
          background-color: #9e94ff;
          color: white; }
    div.container .container__left .container__left--body {
      width: 23.6rem;
      margin-left: 2.4rem; }
      div.container .container__left .container__left--body .container-left__title {
        margin-top: 3.3rem;
        margin-bottom: 2rem;
        font-size: 1.5rem;
        font-family: Montserrat-Regular;
        color: #999999; }
        div.container .container__left .container__left--body .container-left__title.container-left__title--elemment, div.container .container__left .container__left--body .container-left__title.container-left-title__form {
          margin-bottom: 1.8rem;
          margin-top: 1.7rem; }
      div.container .container__left .container__left--body .container-left__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column; }
        div.container .container__left .container__left--body .container-left__content .container-left-content__menu-item {
          font-size: 1.5rem;
          color: #2c2c2c;
          font-family: Montserrat-Regular;
          margin-bottom: 2.2rem;
          display: flex;
          align-items: center; }
          div.container .container__left .container__left--body .container-left__content .container-left-content__menu-item .left-content__icon-img {
            margin-right: 1rem; }
          div.container .container__left .container__left--body .container-left__content .container-left-content__menu-item .left-content_icon-img-right {
            width: 17.8rem;
            display: flex;
            justify-content: space-between; }
  div.container .container__right {
    width: 100%;
    height: auto;
    flex: 2;
    background-color: #f9f9f9;
    justify-content: end; }
    div.container .container__right .container-right__header-top {
      height: 6.2rem;
      margin-top: 3rem;
      margin-left: 4.6rem;
      margin-right: 3.6rem;
      background-color: white;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.13); }
      div.container .container__right .container-right__header-top .container-right__header-top--icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin-left: 1.9rem;
        margin-right: 1rem; }
        div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-icon__left img {
          margin-right: 1.9rem; }
        div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-icon__right {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-icon__right .header-top-icon-right__name .header-top-right__english {
            font-size: 1.4rem;
            font-family: Montserrat-Regular;
            margin-right: 3rem; }
          div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-icon__right .header-top-icon-right__img img {
            margin-right: 2.3rem; }
          div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-icon__right .header-top-right__user-name-group {
            display: flex;
            flex-direction: column;
            margin-right: 1.5rem; }
            div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-icon__right .header-top-right__user-name-group .header-top-right__user-name {
              font-size: 1.4rem;
              font-family: "Regular"; }
            div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-icon__right .header-top-right__user-name-group .header-top-right__status {
              font-size: 1.1rem;
              font-family: "Montserrat";
              justify-content: end; }
  div.container .container-right__header-center {
    height: 4rem;
    margin-top: 2.9rem;
    margin-left: 4.6rem;
    margin-right: 3.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    div.container .container-right__header-center .container-right-header-center_checkout {
      height: 100%;
      display: flex;
      align-items: center; }
      div.container .container-right__header-center .container-right-header-center_checkout img {
        margin-right: 1.9rem;
        margin-bottom: 1rem; }
      div.container .container-right__header-center .container-right-header-center_checkout .header-center-checkout--big {
        font-size: 2.4rem;
        font-family: Montserrat-Regular;
        color: #2c2c2c;
        margin-bottom: 0.6rem; }
      div.container .container-right__header-center .container-right-header-center_checkout .header-center__hr {
        color: #d8d8d8;
        margin-left: 7rem;
        margin-right: 1.2rem;
        font-size: 2.8rem; }
      div.container .container-right__header-center .container-right-header-center_checkout .header-center-eCommerce {
        font-size: 1.4rem;
        font-family: Montserrat-Regular;
        color: #9e94ff;
        margin-right: 2.5rem;
        margin-bottom: 0.3rem; }
      div.container .container-right__header-center .container-right-header-center_checkout .header-center-checkout--small {
        font-size: 1.4rem;
        font-family: Montserrat-Regular;
        margin-bottom: 0.6rem; }
    div.container .container-right__header-center .container-right-header-center_setting {
      background-color: #9e94ff;
      padding: 0.8rem 1rem;
      border-radius: 50%;
      margin-left: 2rem; }
  div.container .container-right__header-bot {
    margin-top: 2.5rem;
    margin-left: 4.6rem;
    margin-right: 3.6rem;
    margin-bottom: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    div.container .container-right__header-bot .header-bot__line {
      position: relative;
      overflow: hidden; }
      div.container .container-right__header-bot .header-bot__line::after {
        content: "";
        height: 0.3rem;
        left: -50%;
        position: absolute;
        top: 50%;
        width: 100%;
        z-index: 1;
        background: blue;
        transform: translateY(-50%); }
      div.container .container-right__header-bot .header-bot__line .header-bot__one {
        width: 5.8rem;
        height: 5.8rem;
        background-color: #6f64f8;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 2.8rem;
        margin: 0 auto;
        position: relative;
        z-index: 2; }
    div.container .container-right__header-bot .header-bot__wrap {
      flex: 1; }
      div.container .container-right__header-bot .header-bot__wrap .header-bot__two {
        width: 5.8rem;
        height: 5.8rem;
        background-color: white;
        border: 0.5rem #999999 solid;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #999999;
        font-size: 2.8rem;
        margin: 0 auto; }
      div.container .container-right__header-bot .header-bot__wrap .header-bot__three {
        width: 5.8rem;
        height: 5.8rem;
        background-color: white;
        border: 0.5rem #999999 solid;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #999999;
        font-size: 2.8rem;
        margin: 0 auto; }
  div.container .container-right__body {
    margin-left: 4.6rem;
    display: flex;
    gap: 2.5rem; }
    div.container .container-right__body .container-right-body__left {
      flex: 1; }
      div.container .container-right__body .container-right-body__left .container-right-body__list {
        display: flex;
        margin-bottom: 3rem;
        background-color: white;
        justify-content: center;
        border-radius: 0.5rem;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.13); }
        div.container .container-right__body .container-right-body__left .container-right-body__list .container-right-body-list__img {
          width: 21rem;
          margin-left: 3.6rem;
          margin-top: 2rem; }
          div.container .container-right__body .container-right-body__left .container-right-body__list .container-right-body-list__img .list-img__jbl {
            margin-left: 4.5rem; }
          div.container .container-right__body .container-right-body__left .container-right-body__list .container-right-body-list__img .list-img__iphone {
            margin-top: 2.5rem; }
        div.container .container-right__body .container-right-body__left .container-right-body__list .container-right-body-list__content {
          display: flex;
          flex-direction: column;
          flex: 1; }
          div.container .container-right__body .container-right-body__left .container-right-body__list .container-right-body-list__content .list-content__name {
            font-size: 1.6rem;
            font-family: "Montserrat-Regular";
            margin-top: 2.7rem;
            margin-bottom: 0.9rem; }
          div.container .container-right__body .container-right-body__left .container-right-body__list .container-right-body-list__content .list-content__by {
            font-size: 1.2rem;
            font-family: "Montserrat-Light";
            color: #2c2c2c; }
          div.container .container-right__body .container-right-body__left .container-right-body__list .container-right-body-list__content .list-content__apple {
            font-size: 1.2rem;
            font-family: "Montserrat-SemiBold";
            color: #6f64f8; }
          div.container .container-right__body .container-right-body__left .container-right-body__list .container-right-body-list__content .list-content__name--green {
            font-size: 1.4rem;
            font-family: "Montserrat";
            color: #2dcd7a;
            margin-top: 1rem;
            margin-bottom: 1.6rem; }
          div.container .container-right__body .container-right-body__left .container-right-body__list .container-right-body-list__content .list-content__quantity {
            font-size: 1.4rem;
            font-family: "Montserrat-Regular";
            margin-bottom: 0.7rem; }
          div.container .container-right__body .container-right-body__left .container-right-body__list .container-right-body-list__content input {
            width: 3.7rem;
            height: 1.8rem;
            background-color: #ededed;
            border: 0;
            text-align: center;
            font-size: 1.4rem;
            font-family: "Montserrat-Regular";
            border-radius: 0.4rem; }
          div.container .container-right__body .container-right-body__left .container-right-body__list .container-right-body-list__content button {
            color: white;
            background-color: #6f64f8;
            border: 0;
            font-weight: bold;
            border-radius: 0.4rem;
            height: 1.8rem;
            width: 1.8rem; }
          div.container .container-right__body .container-right-body__left .container-right-body__list .container-right-body-list__content .list-content__date--gray {
            font-size: 1.4rem;
            font-family: "Montserrat-Regular";
            color: #999999;
            margin-top: 2.7rem; }
        div.container .container-right__body .container-right-body__left .container-right-body__list .container-right-body__buy {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          margin-right: 2.2rem;
          padding-left: 2rem;
          border-left: #999999; }
          div.container .container-right__body .container-right-body__left .container-right-body__list .container-right-body__buy .btn-body-buy__small {
            font-size: 1.4rem;
            margin-left: 12rem;
            width: 6.2rem;
            height: 2.9rem;
            color: white;
            background-color: #6f64f8;
            border: 0;
            padding: 0.5rem 0rem;
            border-radius: 0.3rem;
            margin-top: 1.6rem; }
          div.container .container-right__body .container-right-body__left .container-right-body__list .container-right-body__buy .container-right-body-buy__sprice {
            font-size: 1.8rem;
            font-family: "Montserrat-Regular";
            text-align: center;
            margin-top: 2rem;
            margin-bottom: 0.4rem; }
          div.container .container-right__body .container-right-body__left .container-right-body__list .container-right-body__buy .container-right-body-buy__cart {
            font-size: 1.4rem;
            font-family: "Montserrat-Light";
            color: #999999;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1.6rem; }
            div.container .container-right__body .container-right-body__left .container-right-body__list .container-right-body__buy .container-right-body-buy__cart img {
              margin-right: 0.5rem; }
          div.container .container-right__body .container-right-body__left .container-right-body__list .container-right-body__buy .btn-body-buy__big {
            width: 18.5rem;
            height: 4.5rem;
            margin-bottom: 1.1rem;
            border-radius: 0.6rem;
            border: 0;
            font-family: "Montserrat-SemiBold";
            font-size: 1.4rem;
            display: flex;
            justify-content: center;
            align-items: center; }
            div.container .container-right__body .container-right-body__left .container-right-body__list .container-right-body__buy .btn-body-buy__big img {
              margin-right: 0.7rem;
              display: flex;
              justify-content: center;
              align-items: center; }
          div.container .container-right__body .container-right-body__left .container-right-body__list .container-right-body__buy .btn__remove {
            background-color: #ededed; }
            div.container .container-right__body .container-right-body__left .container-right-body__list .container-right-body__buy .btn__remove:hover {
              cursor: pointer;
              background-color: white;
              border: 0.2rem #d8d8d8 solid;
              color: #6f64f8; }
          div.container .container-right__body .container-right-body__left .container-right-body__list .container-right-body__buy .btn__blue {
            color: white;
            background-color: #6f64f8;
            margin-bottom: 2.5rem; }
            div.container .container-right__body .container-right-body__left .container-right-body__list .container-right-body__buy .btn__blue:hover {
              cursor: pointer;
              background-color: #9e94ff;
              border: 0.2rem #6f64f8 solid;
              color: black; }
    div.container .container-right__body .container-right-body__right {
      width: 37.1rem;
      height: fit-content;
      background-color: white;
      border-radius: 0.5rem;
      margin-right: 3.6rem;
      border-radius: 0.5rem;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.13); }
      div.container .container-right__body .container-right-body__right .container-right-body__right--full {
        margin: 2rem 2rem; }
        div.container .container-right__body .container-right-body__right .container-right-body__right--full .container-right-body-right__content {
          display: flex;
          justify-content: space-between; }
          div.container .container-right__body .container-right-body__right .container-right-body__right--full .container-right-body-right__content .right-content__top {
            display: flex;
            flex-direction: column; }
            div.container .container-right__body .container-right-body__right .container-right-body__right--full .container-right-body-right__content .right-content__top span {
              margin-bottom: 0.6rem; }
            div.container .container-right__body .container-right-body__right .container-right-body__right--full .container-right-body-right__content .right-content__top .right-content-top__option {
              font-size: 1.4rem;
              color: #999999;
              font-family: "Montserrat-Regular"; }
            div.container .container-right__body .container-right-body__right .container-right-body__right--full .container-right-body-right__content .right-content__top .right-content-top__name--black {
              font-size: 1.4rem;
              color: black;
              font-family: "Montserrat-Regular";
              margin-bottom: 1.65rem; }
          div.container .container-right__body .container-right-body__right .container-right-body__right--full .container-right-body-right__content .right-content-top__apply {
            font-size: 1.4rem;
            color: #6f64f8;
            font-family: "Montserrat-Regular"; }
        div.container .container-right__body .container-right-body__right .container-right-body__right--full .right-content__center .right-content-center__name {
          display: flex;
          flex-direction: column;
          margin-top: 2rem; }
        div.container .container-right__body .container-right-body__right .container-right-body__right--full .right-content__center .right-content-top__name--black {
          font-size: 1.4rem;
          color: black;
          font-family: "Montserrat-Regular"; }
        div.container .container-right__body .container-right-body__right .container-right-body__right--full .right-content__center .right-content-center__item {
          display: flex;
          justify-content: space-between; }
          div.container .container-right__body .container-right-body__right .container-right-body__right--full .right-content__center .right-content-center__item span {
            margin-bottom: 1.4rem; }
          div.container .container-right__body .container-right-body__right .container-right-body__right--full .right-content__center .right-content-center__item .right-content-center__name--gray {
            font-size: 1.4rem;
            color: #999999;
            font-family: "Montserrat-Light"; }
          div.container .container-right__body .container-right-body__right .container-right-body__right--full .right-content__center .right-content-center__item .right-content-center-item__blue {
            font-size: 1.4rem;
            color: #6f64f8;
            font-family: "Montserrat-Regular"; }
          div.container .container-right__body .container-right-body__right .container-right-body__right--full .right-content__center .right-content-center__item .right-content-center__name--green {
            font-size: 1.4rem;
            color: #2dcd7a;
            font-family: "Montserrat-Light"; }
        div.container .container-right__body .container-right-body__right .container-right-body__right--full .right-content__center .right-content__bot .right-content-bot_item {
          display: flex;
          justify-content: space-between; }
          div.container .container-right__body .container-right-body__right .container-right-body__right--full .right-content__center .right-content__bot .right-content-bot_item span {
            margin-top: 2.5rem;
            margin-bottom: 1.3rem; }
        div.container .container-right__body .container-right-body__right .container-right-body__right--full .right-content__center .right-content__bot .btn__place {
          display: flex;
          align-items: flex-end; }
        div.container .container-right__body .container-right-body__right .container-right-body__right--full .right-content__center .right-content__bot button {
          width: 33rem;
          height: 4.5rem;
          border: 0;
          background-color: #6f64f8;
          border-radius: 0.5rem;
          font-size: 1.4rem;
          color: white;
          font-family: "Montserrat-Regular"; }

@media only screen and (max-width: 1390px) {
  .container-right-body__list {
    flex-direction: column;
    justify-content: center;
    align-items: center; } }
