html {
  font-size: 62.5%; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

div.container {
  width: 100%;
  height: 114rem;
  display: flex;
  background-color: #f9f9f9; }
  div.container .container-right__checkbox {
    display: none !important; }
  div.container .container__left {
    width: 26.8rem;
    height: 114rem;
    background-color: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.13); }
    div.container .container__left .container__left--top {
      display: flex;
      width: 23.6rem;
      height: 11rem;
      margin-top: 1.2rem;
      margin-left: 1.2rem;
      margin-right: 2.9rem;
      flex-direction: column; }
      div.container .container__left .container__left--top button {
        width: 23.6rem;
        height: 3.6rem;
        border: 0;
        margin-bottom: 0.7rem;
        border-radius: 0.4rem;
        padding: 1.5rem; }
        div.container .container__left .container__left--top button div.container-left__img {
          width: 7.4rem;
          display: flex;
          justify-content: space-between;
          align-items: center; }
        div.container .container__left .container__left--top button div.container-left_name {
          width: 16.2rem;
          display: flex;
          justify-content: space-between; }
        div.container .container__left .container__left--top button.btn {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-family: Montserrat-Regular;
          font-size: 1.5rem; }
        div.container .container__left .container__left--top button.container-left__btn--gray {
          background-color: #ececec; }
        div.container .container__left .container__left--top button.container-left__btn--blue {
          background-color: #9e94ff;
          color: white; }
    div.container .container__left .container__left--body {
      width: 23.6rem;
      margin-left: 2.4rem; }
      div.container .container__left .container__left--body .container-left__title {
        margin-top: 3.3rem;
        margin-bottom: 2rem;
        font-size: 1.5rem;
        font-family: Montserrat-Regular;
        color: #999999; }
        div.container .container__left .container__left--body .container-left__title.container-left__title--elemment, div.container .container__left .container__left--body .container-left__title.container-left-title__form {
          margin-bottom: 1.8rem;
          margin-top: 1.7rem; }
      div.container .container__left .container__left--body .container-left__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column; }
        div.container .container__left .container__left--body .container-left__content .container-left-content__menu-item {
          font-size: 1.5rem;
          color: #2c2c2c;
          font-family: Montserrat-Regular;
          margin-bottom: 2.2rem;
          display: flex;
          align-items: center; }
          div.container .container__left .container__left--body .container-left__content .container-left-content__menu-item .left-content__icon-img {
            margin-right: 1rem; }
          div.container .container__left .container__left--body .container-left__content .container-left-content__menu-item .left-content_icon-img-right {
            width: 17.8rem;
            display: flex;
            justify-content: space-between; }
  div.container .container__right {
    width: 100%;
    height: auto;
    flex: 2;
    background-color: #f9f9f9;
    justify-content: end; }
    div.container .container__right .container-right__icon-hamburger {
      display: none; }
    div.container .container__right .container-right__header-top {
      height: 6.2rem;
      margin-top: 3rem;
      margin-left: 4.6rem;
      margin-right: 3.6rem;
      background-color: white;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.13); }
      div.container .container__right .container-right__header-top .container-right__header-top--icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin-left: 1.9rem;
        margin-right: 1rem;
        cursor: pointer; }
        div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-icon__left img {
          margin-right: 1.9rem; }
        div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-icon__right {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-icon__right .header-top-icon-right__name .header-top-right__english {
            font-size: 1.4rem;
            font-family: Montserrat-Regular;
            margin-right: 3rem; }
          div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-icon__right .header-top-icon-right__img {
            position: relative; }
            div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-icon__right .header-top-icon-right__img input {
              display: none; }
              div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-icon__right .header-top-icon-right__img input:checked + .header-top-icon-right__bell {
                display: block !important; }
            div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-icon__right .header-top-icon-right__img img {
              margin-right: 2.3rem; }
            div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-icon__right .header-top-icon-right__img .header-top-icon-right__bell {
              background-color: #ffffff;
              box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.13);
              height: fit-content;
              width: 28rem;
              position: absolute;
              right: 5.5rem;
              border-radius: 0.5rem;
              filter: drop-shadow(0px 2px 3px #bbb);
              margin-top: 1rem;
              display: none;
              cursor: pointer; }
              div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-icon__right .header-top-icon-right__img .header-top-icon-right__bell .header-top-right__triangle {
                width: 1.5rem;
                height: 1.5rem;
                clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                position: absolute;
                background-color: #6f64f8;
                top: -1.4rem;
                right: 1.7rem; }
              div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-icon__right .header-top-icon-right__img .header-top-icon-right__bell .right-bell__top {
                background-color: #6f64f8;
                padding: 1.5rem; }
                div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-icon__right .header-top-icon-right__img .header-top-icon-right__bell .right-bell__top .right-bell-top__content {
                  display: flex;
                  justify-content: center;
                  font-weight: "Montserrat-Light"; }
              div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-icon__right .header-top-icon-right__img .header-top-icon-right__bell .right-bell-top__title--big {
                font-size: 1.7rem;
                color: white;
                font-weight: bold; }
              div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-icon__right .header-top-icon-right__img .header-top-icon-right__bell .right-bell-top__title--small {
                font-size: 1.1rem;
                color: #ededed; }
            div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-icon__right .header-top-icon-right__img .right-bell__center .right-bell-center__item {
              padding: 1rem; }
              div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-icon__right .header-top-icon-right__img .right-bell__center .right-bell-center__item:hover {
                background-color: #F5F5F5; }
              div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-icon__right .header-top-icon-right__img .right-bell__center .right-bell-center__item .right-bell-center-item__top {
                display: flex;
                justify-content: space-between;
                font-size: 1.4rem;
                margin-bottom: 0.5rem; }
                div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-icon__right .header-top-icon-right__img .right-bell__center .right-bell-center__item .right-bell-center-item__top .massege__blue {
                  color: #6f64f8; }
                div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-icon__right .header-top-icon-right__img .right-bell__center .right-bell-center__item .right-bell-center-item__top span {
                  font-size: 1.2rem;
                  color: #999999; }
                div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-icon__right .header-top-icon-right__img .right-bell__center .right-bell-center__item .right-bell-center-item__top i {
                  margin-right: 0.5rem; }
                div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-icon__right .header-top-icon-right__img .right-bell__center .right-bell-center__item .right-bell-center-item__top .message__green {
                  color: #2dcd7a; }
                div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-icon__right .header-top-icon-right__img .right-bell__center .right-bell-center__item .right-bell-center-item__top .massge__red {
                  color: red; }
                div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-icon__right .header-top-icon-right__img .right-bell__center .right-bell-center__item .right-bell-center-item__top .message_yello {
                  color: orange; }
              div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-icon__right .header-top-icon-right__img .right-bell__center .right-bell-center__item .message__notifi {
                font-size: 1.2rem;
                color: #999999;
                margin-left: 2.1rem; }
            div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-icon__right .header-top-icon-right__img .right-bell__bot {
              padding: 1rem;
              text-align: center;
              color: #6f64f8;
              font-size: 1.4rem;
              font-weight: bold; }
        div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-right__user-name-group {
          display: flex;
          flex-direction: column;
          margin-right: 1.5rem; }
          div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-right__user-name-group .header-top-right__user-name {
            font-size: 1.4rem;
            font-family: "Regular"; }
          div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-right__user-name-group .header-top-right__status {
            font-size: 1.1rem;
            font-family: "Montserrat";
            justify-content: end; }
        div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-right__img-user {
          position: relative; }
          div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-right__img-user input {
            display: none; }
            div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-right__img-user input:checked + .header-top-right__info-user {
              display: block !important;
              position: absolute; }
          div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-right__img-user .header-top-right__info-user {
            background-color: #ffffff;
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.13);
            height: fit-content;
            width: 17rem;
            padding: 1.5rem;
            position: absolute;
            right: 0;
            border-radius: 0.5rem;
            filter: drop-shadow(0px 2px 3px #bbb);
            display: none; }
            div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-right__img-user .header-top-right__info-user .header-top-right__triangle {
              width: 1.5rem;
              height: 1.5rem;
              clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
              position: absolute;
              background-color: white;
              top: -1.4rem;
              right: 1.6rem; }
            div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-right__img-user .header-top-right__info-user .header-top-right__content {
              cursor: pointer; }
              div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-right__img-user .header-top-right__info-user .header-top-right__content .header-top-right-content__menu-item {
                font-size: 1.7rem;
                font-family: "Montserrat-Regular";
                color: #2c2c2c;
                display: flex;
                align-items: center;
                padding: 1rem 1rem; }
                div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-right__img-user .header-top-right__info-user .header-top-right__content .header-top-right-content__menu-item:hover {
                  color: #1976D2; }
                div.container .container__right .container-right__header-top .container-right__header-top--icon .header-top-right__img-user .header-top-right__info-user .header-top-right__content .header-top-right-content__menu-item span {
                  margin-left: 1.5rem; }

div .container-right__header-center {
  height: 4rem;
  margin-top: 2.9rem;
  margin-left: 4.6rem;
  margin-right: 3.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  div .container-right__header-center .container-right-header-center_checkout {
    height: 100%;
    display: flex;
    align-items: center; }
    div .container-right__header-center .container-right-header-center_checkout img {
      margin-right: 1.9rem; }
    div .container-right__header-center .container-right-header-center_checkout .header-center-checkout__wrap {
      display: flex;
      align-items: center; }
    div .container-right__header-center .container-right-header-center_checkout .header-center-checkout--big {
      font-size: 2.4rem;
      font-family: Montserrat-Regular;
      color: #2c2c2c;
      margin-bottom: 0.6rem; }
    div .container-right__header-center .container-right-header-center_checkout .header-center__hr {
      color: #d8d8d8;
      margin-left: 7rem;
      margin-right: 1.2rem;
      font-size: 2.8rem; }
    div .container-right__header-center .container-right-header-center_checkout .header-center-eCommerce {
      font-size: 1.4rem;
      font-family: Montserrat-Regular;
      color: #9e94ff;
      margin-right: 2.5rem; }
    div .container-right__header-center .container-right-header-center_checkout .header-center-checkout--small {
      font-size: 1.4rem;
      font-family: Montserrat-Regular; }
  div .container-right__header-center .container-right-header-center_setting {
    background-color: #9e94ff;
    padding: 0.8rem 1rem;
    border-radius: 50%;
    margin-left: 2rem; }

div .container-right__header-bot {
  margin-top: 2.5rem;
  margin-left: 4.6rem;
  margin-right: 3.6rem;
  margin-bottom: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  div .container-right__header-bot .header-bot__line {
    position: relative;
    overflow: hidden; }
    div .container-right__header-bot .header-bot__line::after {
      content: "";
      height: 0.3rem;
      left: -50%;
      position: absolute;
      top: 50%;
      width: 100%;
      z-index: 1;
      background: blue;
      transform: translateY(-50%); }
    div .container-right__header-bot .header-bot__line .header-bot__one {
      width: 5.8rem;
      height: 5.8rem;
      background-color: #6f64f8;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 2.8rem;
      margin: 0 auto;
      position: relative;
      z-index: 2; }
  div .container-right__header-bot .header-bot__wrap {
    flex: 1; }
    div .container-right__header-bot .header-bot__wrap .header-bot__two {
      width: 5.8rem;
      height: 5.8rem;
      background-color: white;
      border: 0.5rem #999999 solid;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #999999;
      font-size: 2.8rem;
      margin: 0 auto; }
    div .container-right__header-bot .header-bot__wrap .header-bot__three {
      width: 5.8rem;
      height: 5.8rem;
      background-color: white;
      border: 0.5rem #999999 solid;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #999999;
      font-size: 2.8rem;
      margin: 0 auto; }

div .container-right__body {
  margin-left: 4.6rem;
  display: flex;
  gap: 2.5rem; }
  div .container-right__body .container-right-body__left {
    flex: 1; }
    div .container-right__body .container-right-body__left .container-right-body__list {
      display: flex;
      margin-bottom: 3rem;
      background-color: white;
      justify-content: center;
      border-radius: 0.5rem;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.13); }
      div .container-right__body .container-right-body__left .container-right-body__list .container-right-body-list__img {
        width: 21rem;
        margin-left: 3.6rem;
        margin-top: 2rem; }
        div .container-right__body .container-right-body__left .container-right-body__list .container-right-body-list__img .list-img__jbl {
          margin-left: 4.5rem; }
        div .container-right__body .container-right-body__left .container-right-body__list .container-right-body-list__img .list-img__iphone {
          margin-top: 2.5rem; }
      div .container-right__body .container-right-body__left .container-right-body__list .container-right-body-list__content {
        display: flex;
        flex-direction: column;
        flex: 1; }
        div .container-right__body .container-right-body__left .container-right-body__list .container-right-body-list__content .list-content__name {
          font-size: 1.6rem;
          font-family: "Montserrat-Regular";
          margin-top: 2.7rem;
          margin-bottom: 0.9rem; }
        div .container-right__body .container-right-body__left .container-right-body__list .container-right-body-list__content .list-content__by {
          font-size: 1.2rem;
          font-family: "Montserrat-Light";
          color: #2c2c2c; }
        div .container-right__body .container-right-body__left .container-right-body__list .container-right-body-list__content .list-content__apple {
          font-size: 1.2rem;
          font-family: "Montserrat-SemiBold";
          color: #6f64f8; }
        div .container-right__body .container-right-body__left .container-right-body__list .container-right-body-list__content .list-content__name--green {
          font-size: 1.4rem;
          font-family: "Montserrat";
          color: #2dcd7a;
          margin-top: 1rem;
          margin-bottom: 1.6rem; }
        div .container-right__body .container-right-body__left .container-right-body__list .container-right-body-list__content .list-content__quantity {
          font-size: 1.4rem;
          font-family: "Montserrat-Regular";
          margin-bottom: 0.7rem; }
        div .container-right__body .container-right-body__left .container-right-body__list .container-right-body-list__content input {
          width: 3.7rem;
          height: 1.8rem;
          background-color: #ededed;
          border: 0;
          text-align: center;
          font-size: 1.4rem;
          font-family: "Montserrat-Regular";
          border-radius: 0.4rem; }
        div .container-right__body .container-right-body__left .container-right-body__list .container-right-body-list__content button {
          color: white;
          background-color: #6f64f8;
          border: 0;
          font-weight: bold;
          border-radius: 0.4rem;
          height: 1.8rem;
          width: 1.8rem;
          cursor: pointer; }
        div .container-right__body .container-right-body__left .container-right-body__list .container-right-body-list__content .list-content__date--gray {
          font-size: 1.4rem;
          font-family: "Montserrat-Regular";
          color: #999999;
          margin-top: 2.7rem; }
      div .container-right__body .container-right-body__left .container-right-body__list .container-right-body__buy {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-right: 2.2rem;
        padding-left: 2rem;
        border-left: #999999; }
        div .container-right__body .container-right-body__left .container-right-body__list .container-right-body__buy .btn-body-buy__small {
          font-size: 1.4rem;
          margin-left: 12rem;
          width: 6.2rem;
          height: 2.9rem;
          color: white;
          background-color: #6f64f8;
          border: 0;
          padding: 0.5rem 0rem;
          border-radius: 0.3rem;
          margin-top: 1.6rem; }
        div .container-right__body .container-right-body__left .container-right-body__list .container-right-body__buy .container-right-body-buy__sprice {
          font-size: 1.8rem;
          font-family: "Montserrat-Regular";
          text-align: center;
          margin-top: 2rem;
          margin-bottom: 0.4rem; }
        div .container-right__body .container-right-body__left .container-right-body__list .container-right-body__buy .container-right-body-buy__cart {
          font-size: 1.4rem;
          font-family: "Montserrat-Light";
          color: #999999;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 1.6rem; }
          div .container-right__body .container-right-body__left .container-right-body__list .container-right-body__buy .container-right-body-buy__cart img {
            margin-right: 0.5rem; }
        div .container-right__body .container-right-body__left .container-right-body__list .container-right-body__buy .btn-body-buy__big {
          width: 18.5rem;
          height: 4.5rem;
          margin-bottom: 1.1rem;
          border-radius: 0.6rem;
          border: 0;
          font-family: "Montserrat-SemiBold";
          font-size: 1.4rem;
          display: flex;
          justify-content: center;
          align-items: center; }
          div .container-right__body .container-right-body__left .container-right-body__list .container-right-body__buy .btn-body-buy__big img {
            margin-right: 0.7rem;
            display: flex;
            justify-content: center;
            align-items: center; }
        div .container-right__body .container-right-body__left .container-right-body__list .container-right-body__buy .btn__remove {
          background-color: #ededed; }
          div .container-right__body .container-right-body__left .container-right-body__list .container-right-body__buy .btn__remove:hover {
            cursor: pointer;
            background-color: white;
            border: 0.2rem #d8d8d8 solid;
            color: #6f64f8; }
        div .container-right__body .container-right-body__left .container-right-body__list .container-right-body__buy .btn__blue {
          color: white;
          background-color: #6f64f8;
          margin-bottom: 2.5rem; }
          div .container-right__body .container-right-body__left .container-right-body__list .container-right-body__buy .btn__blue:hover {
            cursor: pointer;
            background-color: #9e94ff;
            border: 0.2rem #6f64f8 solid;
            color: black; }
  div .container-right__body .container-right-body__right {
    width: 37.1rem;
    height: fit-content;
    background-color: white;
    border-radius: 0.5rem;
    margin-right: 3.6rem;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.13); }
    div .container-right__body .container-right-body__right .container-right-body__right--full {
      margin: 2rem 2rem; }
      div .container-right__body .container-right-body__right .container-right-body__right--full .container-right-body-right__content {
        display: flex;
        justify-content: space-between; }
        div .container-right__body .container-right-body__right .container-right-body__right--full .container-right-body-right__content .right-content__top {
          display: flex;
          flex-direction: column; }
          div .container-right__body .container-right-body__right .container-right-body__right--full .container-right-body-right__content .right-content__top span {
            margin-bottom: 0.6rem; }
          div .container-right__body .container-right-body__right .container-right-body__right--full .container-right-body-right__content .right-content__top .right-content-top__option {
            font-size: 1.4rem;
            color: #999999;
            font-family: "Montserrat-Regular"; }
          div .container-right__body .container-right-body__right .container-right-body__right--full .container-right-body-right__content .right-content__top .right-content-top__name--black {
            font-size: 1.4rem;
            color: black;
            font-family: "Montserrat-Regular";
            margin-bottom: 1.65rem; }
        div .container-right__body .container-right-body__right .container-right-body__right--full .container-right-body-right__content .right-content-top__apply {
          font-size: 1.4rem;
          color: #6f64f8;
          font-family: "Montserrat-Regular"; }
      div .container-right__body .container-right-body__right .container-right-body__right--full .right-content__center .right-content-center__name {
        display: flex;
        flex-direction: column;
        margin-top: 2rem; }
      div .container-right__body .container-right-body__right .container-right-body__right--full .right-content__center .right-content-top__name--black {
        font-size: 1.4rem;
        color: black;
        font-family: "Montserrat-Regular"; }
      div .container-right__body .container-right-body__right .container-right-body__right--full .right-content__center .right-content-center__item {
        display: flex;
        justify-content: space-between; }
        div .container-right__body .container-right-body__right .container-right-body__right--full .right-content__center .right-content-center__item span {
          margin-bottom: 1.4rem; }
        div .container-right__body .container-right-body__right .container-right-body__right--full .right-content__center .right-content-center__item .right-content-center__name--gray {
          font-size: 1.4rem;
          color: #999999;
          font-family: "Montserrat-Light"; }
        div .container-right__body .container-right-body__right .container-right-body__right--full .right-content__center .right-content-center__item .right-content-center-item__blue {
          font-size: 1.4rem;
          color: #6f64f8;
          font-family: "Montserrat-Regular"; }
        div .container-right__body .container-right-body__right .container-right-body__right--full .right-content__center .right-content-center__item .right-content-center__name--green {
          font-size: 1.4rem;
          color: #2dcd7a;
          font-family: "Montserrat-Light"; }
      div .container-right__body .container-right-body__right .container-right-body__right--full .right-content__center .right-content__bot .right-content-bot_item {
        display: flex;
        justify-content: space-between; }
        div .container-right__body .container-right-body__right .container-right-body__right--full .right-content__center .right-content__bot .right-content-bot_item span {
          margin-top: 2.5rem;
          margin-bottom: 1.3rem; }
      div .container-right__body .container-right-body__right .container-right-body__right--full .right-content__center .right-content__bot .btn__place {
        display: flex;
        align-items: flex-end; }
      div .container-right__body .container-right-body__right .container-right-body__right--full .right-content__center .right-content__bot button {
        width: 33rem;
        height: 4.5rem;
        border: 0;
        background-color: #6f64f8;
        border-radius: 0.5rem;
        font-size: 1.4rem;
        cursor: pointer;
        color: white;
        font-family: "Montserrat-Regular"; }
        div .container-right__body .container-right-body__right .container-right-body__right--full .right-content__center .right-content__bot button:hover {
          background-color: white;
          border: 0.2rem #6f64f8 solid;
          color: #6f64f8;
          cursor: pointer; }

@media only screen and (max-width: 1390px) {
  body {
    background-color: #f9f9f9; }
  .container-right__body .container-right-body__list {
    position: relative; }
    .container-right__body .container-right-body__list .btn-body-buy__small {
      position: absolute;
      top: -0.6rem;
      right: 1rem; }
  .container-right-body__list {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .container-right-body__right {
    width: 20rem !important; } }

@media only screen and (max-width: 900px) {
  .container__right .container-right__header-top {
    padding: 15px 0 5px 0;
    height: fit-content !important; }
    .container__right .container-right__header-top .container-right__header-top--icon {
      flex-direction: column; }
  .container__right .container-right__body {
    flex-direction: column;
    margin-right: 4.6rem;
    padding-bottom: 4rem; }
    .container__right .container-right__body .container-right-body__right {
      width: 100% !important; } }

@media only screen and (max-width: 560px) {
  input:checked + .container__left {
    display: block !important;
    top: 50px;
    z-index: 15;
    position: fixed;
    height: calc(100% - 50px);
    overflow: auto; }
  .container__left {
    display: none;
    width: 100vw !important;
    position: absolute; }
    .container__left .container__left--top .btn {
      width: 92vw !important;
      justify-content: space-around !important; }
    .container__left .left-content_icon-img-right {
      width: 80vw !important; }
  .container__right .container-right__icon-hamburger {
    font-size: 2.5rem;
    margin-left: 2rem;
    margin-top: 2rem;
    display: block !important; }
  .container__right .container-right__header-top {
    margin: 1rem !important;
    position: relative;
    z-index: 99999; }
    .container__right .container-right__header-top .header-top-right__img-user {
      position: relative; }
      .container__right .container-right__header-top .header-top-right__img-user .header-top-right__info-user {
        position: absolute;
        z-index: 100; }
    .container__right .container-right__header-top .header-top-icon-right__img .header-top-icon-right__bell {
      right: 50%;
      transform: translateX(50%);
      z-index: 1; }
      .container__right .container-right__header-top .header-top-icon-right__img .header-top-icon-right__bell .header-top-right__triangle {
        right: 15.6rem !important; }
  .container__right .container-right__header-center {
    margin-bottom: 4rem; }
    .container__right .container-right__header-center .container-right-header-center_checkout {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center; }
      .container__right .container-right__header-center .container-right-header-center_checkout .header-center-checkout--big {
        width: 100% !important;
        margin-bottom: 1.5rem !important; }
      .container__right .container-right__header-center .container-right-header-center_checkout .header-center__hr {
        display: none; }
      .container__right .container-right__header-center .container-right-header-center_checkout .header-center-eCommerce {
        margin-right: 1.5rem !important; }
  .container__right .container-right__body .container-right-body__list {
    position: relative; }
    .container__right .container-right__body .container-right-body__list .btn-body-buy__small {
      position: absolute;
      top: -0.6rem;
      right: 1rem; } }
